	*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #C0C0C0;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
/*	background-image: url('backgroundsquares.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;*/
}
h1 {
	font-size: 5em;
	padding: 15px 0;
	text-align: left;
	margin-left: 15px;
}
h2 {
	color: #A9A9A9;
	font-size: 2.5em;
}
section {
	max-width:75em;
	margin:7em auto;
}
#splash {
	color: #F8F8FF;
	text-align: center;
	background-image: url('main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	max-width:100%;
	margin:0;
	height:100vh;
}
#splash img {
	float: left;
}

#slogan {
	background: rgba(127,186,0,.8);
	margin:15% auto 0 auto;
	font-size: 5em;
	font-weight: bold;
	padding:.3em;
	text-align: left;
	width:10.6em;
	border-radius:.5em;

}
.nav {
	max-width:100%;
	padding: 3%;
	background-color: #f3f4f5;
} 	
ul {
    text-align: center;
}
li {
	list-style-type: none;
	display: inline;
	font-size: 1.62em;
	color: #7FBA00;
	padding: .5em 1em;
	margin-right: 1em;
	/*background: rgba(98,178,18,1);*/
	font-weight: bold;
	border-radius: .5em;
}
a {
	text-decoration: none;
	color: #7FBA00;
	padding: .2em;
}
nav a:hover{
	background-color: rgba(127,186,0,1);
	color:#f8f8ff;
	border-radius: .2em;
}
div {
	padding:1em;
}
div img {
	width:100%;
}
.main p{
	font-family: 'Libre Baskerville', serif;
	line-height: 140%;
	text-align: justify;
}
.main div{
	width: 50%;
}
.readmore {
	padding: .5em;
	color: #F8F8FF;
	background: #7FBA00;
	display: block;
	text-align: center;
	width: 20%;
	margin-top: .5em;
}
.readmore a:hover{
	/*text-decoration: underline;*/
	background: red;
}
.flaticon {
	text-align: center;
}
#intelligence div{
	float: right;
}
#insight div{
	float: left;
}
#marketing div{
	float: right;
}
#integrity div{
	float: left;
}
hr {
	height: 5px;
	background: #62B212;
	border-radius: 1em;
}
footer p {
	padding: 2em;
	font-size: 1.62em;
}
.clearfix:after,section:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

