*{margin:0;padding:0;box-sizing:border-box;}

body {
	color: #C0C0C0;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}

h2 {
	color: #A9A9A9;
	font-size: 2.5em;
}
section, main, header {
	max-width:75em;
	margin:7em auto;
}
#splash {
	background-image: url('../images/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	color: #F8F8FF;
	height:100vh;
	max-width:100%;
	margin:0;
	position: relative;	
	text-align: center;
}
#splash img {
	float: left;
	padding: .5em 0 0 .5em;
	width: 30%;
}
#slogan {
	background: rgba(127,186,0,.8);
	border-radius:.5em;
	clear: both;
	font-size: 5em;
	font-weight: bold;		
	margin: auto;
	padding:.3em;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);	
	text-align: left;
	width:10.6em;
}
.nav {
	background-color: #f3f4f5;	
	max-width:100%;
	padding: 3%;
} 	
nav ul {
    text-align: center;
}
nav li {
	color: #7FBA00;	
	display: inline;
	font-size: 1.62em;
	font-weight: bold;
	list-style-type: none;	
	margin-right: 1em;				
	padding: .5em 1em;
}
a {
	color: #7FBA00;
	text-decoration: none;
	padding: .2em;
}
nav a:hover{
	background-color: rgba(127,186,0,1);
	color:#f8f8ff;
	border-radius: .2em;
}
div {
	padding:1em 0;
}
div img {
	width:100%;
}
main p{
	font-family: 'Libre Baskerville', serif;
	line-height: 140%;
	text-align: justify;
}
main div{
	width: 50%;
}
.readmore {
	background: #7FBA00;
	color: #F8F8FF;	
	display: block;	
	margin-top: .5em;		
	padding: .5em;
	text-align: center;
	width: 20%;
}
.readmore a:hover{
	background: red;
}
.flaticon {
	text-align: center;
}
#intelligence div{
	float: right;
}
#insight div{
	float: left;
}
#marketing div{
	float: right;
}
#integrity div{
	float: left;
}
hr {
	background: #62B212;
	border-radius: 1em;	
	height: 5px;
}
footer {
	max-width: 65em;
	margin: auto;
}
footer a{
	color: #a9a9a9;	
	float:left;
	width: 20%;
}
footer a:hover{
	color: #7fba00;
}
#social { 
	max-width: 75em;
	margin: auto;
	text-align: center;
	padding: 2em 0;
}
.clearfix:after,section:after { 
	clear: both;	
	content: ".";
	display: block;
	height: 0; 	 
	visibility: hidden; 
}
/*************************************************************
Services
*************************************************************/
.services h1 {
	color: #A9A9A9;
	font-size: 2.5em;
}
#testimonials h2 {
	color: #7FBA00;
	font-size: 1.5em;	
}
/*#wrapper ul {
    text-align: center;
}
#wrapper li {
	color: #7FBA00;	
	display: inline;
	font-size: 1.5em;
	font-weight: bold;			
	list-style-type: none;
	margin-right: 1em;
	padding: 20em 0;
}
#wrapper {
	max-width: 75em;
	margin: auto;
}
#wrapper img {
	float: left;
	padding: .5em 0;
	width: 19em;
}
#wrapper nav {
	padding-top: 1em;
	float: right;
} */
header ul {
    text-align: center;
}
header li {
	color: #7FBA00;	
	display: inline;
	font-size: 1.5em;
	font-weight: bold;			
	list-style-type: none;
	margin-right: 1em;
	padding: 20em 0;
}
header {
	max-width: 75em;
	margin: auto;
}
header img {
	float: left;
	padding: .5em 0;
	width: 19em;
}
header nav {
	padding-top: 1em;
	float: right;
} 
.services div{
	width: 50%;
	padding-left: 2em;
}
#content p+p {
	margin: 1em 0;
}
#businessintelligence {
	margin: 0;
}
#content div{
	float: right;
}
#wufoo div {
	float: left;
}	
#contact p {
	line-height: 170%;
}
#contact h2 {
	font-size: 1.5em;
}
#map {
	height: 22em;
	padding-top: 1em;	
	width: 25em;
}
#testimonials div {
	background-color: #f3f4f5;
	float: left;
	margin: .2em;
	padding: 2em;			
	width: 32.3%;
}
.consult {
	background: #7FBA00;
	color: #F8F8FF;
	display: block;
	margin-top: .5em;				
	padding: .5em;
	text-align: center;
	width: 10em;
}
.clearfix:after,section:after { 
	content: "."; 
	clear: both;	
	display: block;
	height: 0; 	 	
	visibility: hidden; 
}

/*************************************************************
Responsive Nav
*************************************************************/
.mobile-nav {
	display: none;
	padding: 0;
}
.menu-btn div {
	position: absolute;
	right: 100%;
	top: 2%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
.menu-btn span {
	display: block;
	width: 1.5em;
	height: .2em;
	margin: 4px 0;
	background: #7FBA00;
	z-index: 99;
}
 .responsive-menu{
	display: none;
}
 .expand {
 	background-color: #f3f4f5;
 	box-shadow: 5px 5px 5px #7FBA00;
 	display: block !important;		
	position: absolute;
	right: 2%;
	top: 8%;
}

/*************************************************************
Media
*************************************************************/

/*@media only screen and (min-width:1124px) and (max-width: 1206px) {*/
@media only screen and (max-width: 1206px) {
		
		h2 {
			font-size: 1.8em;
		}
		section, main{
			max-width:75em;
			margin:1em;
		}
		#content {
			max-width:75em;
			margin:6em 0 6em 0;
		}					
		main p {
			font-size: 1em

		}		
		.readmore {
			width: 25%;
		}
		nav li {
			font-size: 1.5em;
			padding: .5em 0;
		}
		#splash img {
			float: left;
			padding: .5em 0 0 .5em;
			width: 50%;
		}
		 .flaticon {
			padding: 3em 0;

		}		
		hr {
			height: .2em;
		}
		footer p {
			font-size: 1.3em;			
			padding: 1em;
			text-align: center;
		}						
	}
/*@media only screen and (min-width:1129px) and (max-width: 1123px) {*/
@media only screen and (max-width: 1123px) {
/*		#wrapper li {
			font-size: 1.3em;
		}*/
		header li {
			font-size: 1.3em;
		}								
	}
/*@media only screen and (min-width:959px)  and (max-width: 1030px) {*/
@media only screen and (max-width: 1030px) {	
		.services h1 {
			color: #A9A9A9;
			font-size: 2em;
		}
		#content, #testimonials p {
			font-size: .9em;
		}
		#testimonials h2 {
			font-size: 1.4em;
		}
		#testimonials p {
			text-align: left;
		}						
		.mobile-nav { 
			display:block;
			float: right;
			margin-right: 1em;
		}
		
/*		#wrapper nav { display:none; }
		
		#wrapper li {
			display: block;	
			font-size: 1.2em;	
			font-weight: bold;			
			list-style-type: none;
			margin: 1em;
			padding: .2em 0;
			text-align: right;
			}*/
		header nav { display:none; }
		
		header li {
			display: block;	
			font-size: 1.2em;	
			font-weight: bold;			
			list-style-type: none;
			margin: 1em;
			padding: .2em 0;
			text-align: right;
			}									
	}		
/*@media only screen and (min-width:891px) and (max-width: 960px) {*/
@media only screen and (max-width: 960px) {
		main p{
			text-align: left;
		}		
		#slogan {
			font-size: 4em;
		}
		nav li {
			font-size: 1.3em;
			padding: .5em 0;
		}
	}
/*@media only screen and (min-width:843px) and (max-width: 890px) {*/
@media only screen and (max-width: 890px) {	
		#wufoo div {
			float: none;
			width: 95%;
		}
		#map {
			width: 35em;
		}
		#contact {
			margin: 0 auto;
		}
	}

/*@media only screen and (min-width:812px) and (max-width: 842px) {*/
@media only screen and (max-width: 842px) {	
		.services div {
			padding: 1em 2.5em 0 2.5em;
		}
		#servicesflaticon {
			padding-bottom: 4.5em;
		} 
		#testimonials div {
			float: none;
			margin: .5em auto;			
			width: 95%;
		}
		#testimonials h2 {
			padding-bottom: .1em ;	
		}
		#testimonials p {
			text-align: justify;	
		}		
		#content div {
			float: none;
			width: 100%;
		}
/*@media only screen and (min-width:646px) and (max-width: 811px) {*/
@media only screen and (max-width: 811px) {	
		h2 {
			color: #A9A9A9;
			font-size: 2em;
			padding: 1em 0 1em 0;
		}
		#contact h2 {
			padding-bottom: .1em; 
		}
		section, main, header {
			max-width:75em;
			margin:0;
		}		
		main p,.nav {
			display: none;
		}		
		.readmore {
			width: 14em;
		}		
		#splash img {
			float: none;
			width: 80%;
			padding: .5em 0 0 .5em;
		}
		#slogan {
			font-size: 3em;
			width:11em;
		}
		 .flaticon {
			padding: 1em 0;

		}		
		#intelligence div{
			float: right;
			padding-left: 1em;
		}
		#intelligence {
			background-color: #E8E8E8;
		}
		#insight div{
			float: left;
		}
		#insight {
			background-color: #f3f4f5;
		}
		#marketing div{
			float: right;
			padding-left: 1em;			
		}
		#marketing {
			background-color: #E8E8E8;
		}
		#integrity div{
			float: left;
		}
		#integrity {
			background-color: #f3f4f5;
		}		
		hr {
			background: #62B212;
			border-radius: 1em;			
			height: .2em;
		}
		footer p {
			font-size: 1.3em;
			text-align: center;			
			padding: 1em;
		}
	}
/*@media only screen and (min-width:626px) and (max-width: 645px) {*/
@media only screen and (max-width: 645px) {	
		h2 {
			color: #A9A9A9;
			font-size: 1.4em;
			padding: 1em 0 1em 0;
		}
}
/*@media only screen and (min-width:551px) and (max-width: 625px) {*/
@media only screen and (max-width: 625px) {	
		#map {
			width: 30em;
		}
}
@media only screen and (max-width: 550px) {
		h2 {
			color: #A9A9A9;
			font-size: 1.2em;
			padding: 1em 0 1em 0;
		}
		section, main, header {
			max-width:75em;
			margin:0;
		}
		#content {
			margin-top: 3em;
		}		
		.readmore {
			width: 10em;
		}
		#splash img {
			float: none;
			width: 95%;
			padding: .5em 0 0 .5em;
		}
		#slogan {
			font-size: 2.5em;
			width:7em;

		}
		#content, #testimonials p {
			text-align: left;
		}
		#map {
			height: 20em;				
			width: 20em;

		}
		#splash {
			background-image: url('../images/main.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment:scroll;
		}
/*		#wrapper img {
			width: 15em;
		}*/
		header img {
			width: 15em;
		}
}



