html {
	background-color: #6EC043;
}

h1 {
	color: white;
	font-family: helvetica;
	text-align: center;
	font-size: 60px;
	margin-top: 250px;
}

p {
	color: white;
	font-family: helvetica;
	text-align: center;
	font-size: 25px;
}