*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #000000;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}
h1 {
	font-size: 5em;
	margin-top: 15px;
	text-align: left;
	margin-left: 15px;
}
p {
	font-size: 1.62em;
	padding: 2px;
}
section {
	max-width:75em;
	margin:0 auto;
}
#splash {
	color: #F8F8FF;
	text-align: center;
	background-image: url('images/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width:100%;
}
#slogan {
	background-color:rgba(107,179,34,.8);
	margin:15% auto 0 auto;
	font-size: 5em;
	font-weight: bold;
	padding:.5em;
	text-align: left;
}
/*#summary {
	font-size: 1.25em;
	width: 971px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 130%;
	margin-top: 20%
}*/
ul {
	margin-top: 20%;
}
li {
	display: inline;
	font-size: 1.62em;
	color: #F8F8FF;
	padding: 10px;
	margin-right: 20px;
	background: rgba(98,178,18,.9);
	font-weight: bold;
	border-radius: 1em;
}
a {
	text-decoration: none;
	color: #F8F8FF;
}
a:hover {
	color: #1948FF;
}
.main {
	margin-top: 5%;
	margin-bottom: 5%;
}	
.main p{
	font-family: 'Libre Baskerville', serif;
	line-height: 140%;
	font-size: 1.62em;
	text-align: justify;
}
.main div{
	width: 50%;
	height: 440px;
}
#intelligence div{
	float: right;
}
#intelligence p{
	margin: 20px;	
	width: 50%;
	height: 440px;
}
#insight div{
	float: left;
}
#insight p{
	margin: 20px;
	height: 440px;
}
#marketing div{
	float: right;
}
#marketing p{
	width: 50%;
	margin: 20px;
}
#integrity div{
	float: left;
}
#integrity p{
/*	width: 50%;*/
	margin: 20px;
}
hr {
	height: 5px;
	background: #62B212;
	border-radius: 1em;
}
.clearfix:after,section:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

