	*{margin:0;padding:0;box-sizing:border-box;}

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

#navigation {
	height: 100px;
	padding-top: 1em;
	width: 100%;
}
#navigation img {
	float: left;
}

#navigation ul {
	float: right;
	padding-top: 33px
}

ul {
    text-align: center;
}
li {
	background: rgba(127,186,0,1);
	border-radius: .5em;	
	color: #F8F8FF;	
	display: inline;
	font-size: 1.62em;	
	font-weight: bold;		
	list-style-type: none;
	margin-right: 1em;
	padding: .5em 1em;
}
hr {
	background: #62B212;
	border-radius: 1em;
	height: 5px;
	margin-top: 2em;
}
a {
	color: #F8F8FF;	
	text-decoration: none;
}
#splash {
	padding-top: 1em;
}
#splash img {
	float: left;	
	width: 33.3%;
}
#slogan div{
	background: blue;	
	height: 25%;
	width: 100%;
}
p {
	display: block;
	font-size: 2em;
	padding: 1em;	
	text-align: center;
}
.clearfix:after{ 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
