*{margin:0;padding:0;box-sizing:border-box;}

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}
header img {
	float: left;
	width:15em;
}

nav {
	float: right;
	margin-top:.5em;
}

ul {
    text-align: center;
    list-style-type: none;
}
li {
	border-radius: .5em;	
	float:left;
	font-size: 1.62em;	
	font-weight: bold;		
	margin-right: 1em;
	padding: .5em 1em;
}
hr {
	background: #62B212;
	border-radius: 1em;
	clear:both;
	height: 5px;
}
a {
}
nav a {
	color:rgba(127,186,0,1);
	text-decoration: none;
}
nav a:hover {
	background-color: rgba(127,186,0,1);
	color:#f8f8ff;
}
#splash {
	padding-top: 1em;
}
#splash img {
	float: left;	
	width: 33.33%;
}
#slogan {
	background-color:rgb(0, 0, 255);
	color:#fff;
}
#slogan div{
	max-width:75em;
	margin:auto;
}
p {
	font-size: 2em;
	padding: 1em;	
	text-align: center;
}
.clearfix:after{ 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
